<form method="post" action="/ComposeMessage">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input  name="MessageTitle" type="text" class="form-control Post-Title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Post</label>
      <textarea  class="Post-textArea" name="Message" id="" cols="30" rows="10"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>

